.light {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.selected {
    box-shadow: 0 0 25px 20px rgb(255, 255, 255);
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
